/* Light Mode styles */
.blog-container {
    position: relative;
    margin: 10px;
    color: var(--lm-dark);
    min-height: 100px;
    padding: 5px 5%;
    border: 2px solid var(--lm-dark);
    background-color: var(--lm-light);
    border-radius: 25px;
}

.blog-h2 {
    margin: 0px;
    border-bottom: solid;    
}

.blog-p {
    margin: 5px
}

.blog-footer {
    position: absolute;
    bottom: 0;
    left: 30;
}

.blog-footer span {
    font-style: italic;
}

/* Dark Mode Styles */
.dark-mode .blog-container {
    color: var(--dm-x-dark);
    border: 2px solid var(--dm-x-light);
    background-color: var(--dm-light);
}
